/* UTILITY E GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1500px;
  height: 2360px;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.white {
  color: #fff;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.button-colors {
  color: #fff;
  background-color: #6ca70d;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
}

.img-resize {
  width: 250px;
  height: 250px;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.mid-container h2 {
  font-size: 30px;
  color: #8ac21f;
  margin: 40px 0;
}

.hr-resize {
  width: 25%;
  margin: auto;
}

/* /UTILITY E GENERALI */

/* BUTTONS */
.first-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
  outline: none;
}

.second-button {
  color: #fff;
  background-color: #6ca70d;
  border: none;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  outline: none;
}
/* /BUTTONS */

/* HEADER */
header {
  background-color: #0C325A;
  height: 600px;
  position: relative;
}

.logo-container {
  margin: 0 30px 0 100px;
  text-align: center;
  padding: 5px;
}

.first-list-container {
  padding: 10px;
  margin-right: 10px;
}

.second-list-container {
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

ul > li {
  display: inline-block;
  padding: 10px;
  font-size: 15px;
}

.header-bg {
  width: 980px;
  height: 500px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.content-container {
  width: 500px;
  margin-left: 100px;
  position: absolute;
  top: 200px;
  left: 100px;
}

.content-container h1 {
  font-size: 50px;
}
/* /HEADER */

/* MID SECTION */
.bottom-container {
  height: 200px;
  background-color: #d3d3d3;
  text-align: center;
  position: relative;
}

.content-bottom {
  position: absolute;
  top: 50px;
  left: 500px;
  line-height: 50px;
}

.mid-container {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  padding-top: 50px;
}

.column-1 {
  width: 33.33%;
  text-align: center;
}
.column-2 {
  width: 33.33%;
  text-align: center;
}
.column-3 {
  width: 33.33%;
  text-align: center;
}

.mid-container p {
  line-height: 30px;
  font-size: 20px;
  margin-top: 30px;
  padding: 0 30px;
}

.mid-container-hr {
  width: 100%;
  border-color: #d3d3d3;
  margin: 50px 0;
}
/* /MID SECTION */

/* LOW SECTION */
.low-container {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

.container-low-img {
  width: 50%;
}

.low-paragraph{
  width: 500px;
  height: 500px;
}

.low-paragraph h2 {
  font-size: 40px;
  line-height: 40px;
}

.low-paragraph p {
  line-height: 35px;
  font-size: 25px;
  margin: 20px 0;
}

.low-paragraph a {
  font-size: 22px;
  color: #2d78ad;
}
/* /LOW SECTION */
